body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
/* メインコンテンツラッパー */
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 2cm;
}
h1 {
  font-size: 1.5em;
}

h2 {
  color: #000;
}

a {
  font-weight: bold;
  color: #000;
}
/* キャラの写真 */
.character-image {
  display: block;
  width: 180px;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.separator-line {
  border: none;
  border-top: 2px solid #ddd;
  margin: 20px auto;
  width: 90%;
  position: relative;
}

.konntent {
  padding-top: 20px;
}

.konntent h1,
h2,
h3,
h4 {
  color: #2c3e50;
}

.konntent h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.konntent h2 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.konntent h3 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.konntent h4 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.konntent p {
  margin-bottom: 10px;
}

.rank {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.highlight {
  font-weight: bold;
  color: #e67e22;
}

@media (max-width: 1210px) {
  body {
    line-height: 1.4;
  }

  .wrapper {
    flex-direction: column; /* レイアウトを縦方向に */
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* スマホ対応のレスポンシブデザイン */
@media (max-width: 768px) {
  .wrapper {
    padding-left: 1cm;
    padding-right: 1cm;
  }
}
