body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  margin: auto;
  color: #333;
}

/* メインコンテンツラッパー */
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 2cm;
}

.konntent {
  margin-top: 2cm;
}

nav-gert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  color: #000;
}

a {
  font-weight: bold;
  color: #000;
}

.chat-image {
  width: 50%;
  padding: 10px;
}

.chatmin-image {
  width: 30%;
  padding: 10px;
}

.flex-taime {
  display: flex;
}

/* キャラの写真 */
.character-image {
  display: block;
  width: 180px;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.separator-line {
  border: none;
  border-top: 2px solid #ddd;
  margin: 20px auto;
  width: 90%;
  position: relative;
}

.konntent h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #0066cc;
}

.konntent h2 {
  font-size: 22px;
  margin-top: 30px;
  color: #0066cc;
}

.konntent h3 {
  font-size: 20px;
  margin-top: 20px;
  color: #005fa3;
}

.konntent p {
  margin: 10px 0;
}

.konntent ul {
  margin-left: 20px;
}

.konntent ul li {
  margin: 5px 0;
}

.appudeto h2 {
  color: #ff5733;
}

@media (max-width: 1210px) {
  body {
    line-height: 1.4;
  }

  .wrapper {
    flex-direction: column; /* レイアウトを縦方向に */
    padding-left: 1cm;
    padding-right: 1cm;
  }
}

/* スマホ対応のレスポンシブデザイン */
@media (max-width: 768px) {
  .wrapper {
    padding-left: 1cm;
    padding-right: 1cm;
  }
}
