body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

nav-gert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 2cm;
}

.konntent {
  padding-right: 1cm;
}

h1 {
  font-size: 1.5em;
}

h2 {
  color: #000;
}

a {
  font-weight: bold;
  color: #000;
}
/* キャラの写真 */
.character-image {
  display: block;
  max-width: 500px;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.character-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

#strengthChart {
  display: block;
  margin: 0 auto;
  max-width: 300px; /* グラフの最大幅を300pxに設定 */
  max-height: 300px; /* グラフの最大高さを300pxに設定 */
  background-color: #fff; /* 背景を白に */
  border-radius: 50%; /* 丸い枠で包む */
  padding: 10px; /* パディングで余白を追加 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 軽い影をつけて立体感 */
  opacity: 0.9; /* 透明度を少し加える */
  transition: all 0.5s ease; /* アニメーションの動きをスムーズに */
}

.section {
  padding: 20px;
  margin: 20px auto;
  width: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
  font-size: 24px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}
.character-block {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fefefe;
}
.character-block h3 {
  margin-top: 0;
}
.character-content {
  display: flex;
  gap: 15px;
}
.character-photo {
  flex: 0 0 150px;
  height: 150px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.supplement {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

@media (max-width: 1210px) {
  body {
    line-height: 1.4;
  }

  .wrapper {
    flex-direction: column; /* レイアウトを縦方向に */
    padding-left: 1cm;
  }
}

/* スマホ対応のレスポンシブデザイン */
@media (max-width: 768px) {
  .sidebar {
    padding: 10px;
  }
  #comment-section {
    width: 80%;
  }

  .character-image {
    max-width: 200px;
    margin: 10px auto;
    border-radius: 5px;
  }
}
