body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

nav-gert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5px;
}

/* メインコンテンツラッパー */
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 4cm;
}
h1 {
  font-size: 1.5em;
}

h2 {
  color: #000;
}

a {
  font-weight: bold;
  color: #000;
}
/* キャラの写真 */
.character-image {
  display: block;
  width: 180px;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.separator-line {
  border: none;
  border-top: 2px solid #ddd;
  margin: 20px auto;
  width: 90%;
  position: relative;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

section.collab {
  background-color: #f5f5f5;
  border-left: 5px solid #4caf50;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
}

section.comments {
  background-color: #e3f2fd;
  padding: 15px;
  border-radius: 6px;
}

@media (max-width: 1210px) {
  body {
    line-height: 1.4;
  }

  .wrapper {
    flex-direction: column; /* レイアウトを縦方向に */
    padding-left: 2cm;
  }
}

/* スマホ対応のレスポンシブデザイン */
@media (max-width: 768px) {
  .wrapper {
    padding-left: 1cm;
    padding-right: 1cm;
  }
}
