/* ベーススタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}

nav-gert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5px;
}

/* メインコンテンツラッパー */
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 4cm;
}

h2 {
  color: #000;
}

a {
  font-weight: bold;
  color: #000;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
}

.intro,
.ranking {
  margin-bottom: 2rem;
}

.ranking-category {
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.ranking-category ol {
  list-style: none;
  padding: 0;
}

.ranking-category li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.8rem;
}

.character-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rank {
  font-weight: bold;
  min-width: 2.5em;
}

.name {
  flex: 1;
}

@media (max-width: 1210px) {
  body {
    line-height: 1.4;
  }

  .wrapper {
    flex-direction: column; /* レイアウトを縦方向に */
    padding-left: 1cm;
    padding-right: 1cm;
  }
}

/* スマホ対応のレスポンシブデザイン */
@media (max-width: 768px) {
  .wrapper {
    padding-left: 1cm;
    padding-right: 1cm;
  }
}
