body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  color: #333;
}

nav-gert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5px;
}

/* メインコンテンツラッパー */
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 2cm;
}
h1 {
  font-size: 1.5em;
}

h2 {
  color: #000;
}

a {
  font-weight: bold;
  color: #000;
}
/* キャラの写真 */
.character-image {
  display: block;
  width: 180px;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.separator-line {
  border: none;
  border-top: 2px solid #ddd;
  margin: 20px auto;
  width: 90%;
  position: relative;
}

main {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.intro,
.collab,
.comments {
  margin-bottom: 2rem;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.collab img {
  width: 80%;
  height: 200px;
  border-radius: 0;
  margin-right: 0;
}

.collab p img {
  width: 20%;
}

.collab p {
  padding-left: 20px;
}

.collab h2 {
  color: #444;
  margin-top: 0;
}

@media (max-width: 1210px) {
  body {
    line-height: 1.4;
  }

  .wrapper {
    flex-direction: column; /* レイアウトを縦方向に */
    padding-left: 0;
  }
}

/* スマホ対応のレスポンシブデザイン */
@media (max-width: 768px) {
  .sidebar {
    padding: 10px;
  }
  #comment-section {
    width: 80%;
  }

  .character-image {
    max-width: 200px;
    margin: 10px auto;
    border-radius: 5px;
  }

  .collab img {
    height: 80px;
  }
}
