/* style.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

nav-gert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5px;
}

/* メインコンテンツラッパー */
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 2cm;
}

.konntent {
  padding-right: 1cm;
}

h1 {
  font-size: 1.5em;
}

h2 {
  color: #000;
}

a {
  font-weight: bold;
  color: #000;
}
/* キャラの写真 */
.character-image {
  display: block;
  width: 180px;
  height: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.separator-line {
  border: none;
  border-top: 2px solid #ddd;
  margin: 20px auto;
  width: 90%;
  position: relative;
}

main {
  max-width: 960px;
  margin: auto;
  padding: 1em;
  background-color: #fff;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.saisin h2 {
  color: #ff5733;
}

.toggle-title {
  background-color: #eee;
  padding: 0.5em;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1em;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-left: 10px;
  transition: transform 0.3s;
}

.toggle-title.active .arrow {
  transform: rotate(180deg); /* 開いたときに上向きに */
}

.toggle-content {
  display: none;
  padding: 0.5em 1em;
  background: #fafafa;
  border: 1px solid #ddd;
  border-top: none;
}

.toggle-content li {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 1210px) {
  body {
    line-height: 1.4;
  }

  .wrapper {
    flex-direction: column; /* レイアウトを縦方向に */
    padding-left: 1cm;
    padding-right: 1cm;
  }
}

/* スマホ対応のレスポンシブデザイン */
@media (max-width: 768px) {
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
}
